registry=http://192.168.0.88:9008/nexus/repository/npm-group/
@test:registry=http://192.168.0.88:9008/nexus/repository/npm-group/
email=techsure@techsure.com.cn
_auth="dGVjaHN1cmU6dGVjaHN1cmU="
always-auth=true