
.DS_Store
node_modules

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

public/
src/
vue.config.js
babel.config.js
.editorconfig 
.eslintrc.js  
.prettierrc.json 
vue-path-injector.js
*.map
*.html
README.md
yarn.lock
package-lock.json
package.json